.container{
    border:5px dashed rgb(124, 3, 120);
}


.row{
    border:3px solid rgb(16, 14, 15);
}

.pink{
    background-color:hotpink;
}
.orange{
    background-color:orange;
}

.blue{
    background-color:blue;
}

.green{
    background-color:yellowgreen;
}